services:
  app:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - api1
      - api2

  api1:
    image: node:20-alpine
    working_dir: /app
    command: npx json-server --watch db-step1.json --host 0.0.0.0 --port 4001
    volumes:
      - ./db-step1.json:/app/db-step1.json
    ports:
      - "4001:4001"

  api2:
    image: node:20-alpine
    working_dir: /app
    command: npx json-server --watch db-step2.json --host 0.0.0.0 --port 4002
    volumes:
      - ./db-step2.json:/app/db-step2.json
    ports:
      - "4002:4002"
